In [1]:
# Amortization
# Schedule that details each periodic payment on an amortizing 
# loan (i.e. personal loan)
# 
# P = (r(PV))/(1-(1+r)-n)
# Where:
# P = Payment
# PV = Present value (the loan)
# r = rate per period
# n = number of periods

loan = 3000.00
rate = 0.0575
term = 14

payment = loan*(rate/12)/(1-(1+(rate/12))**(-term))
print(round(payment, 2))

222.07

In [3]:
# Using numpy's built in payment function
import numpy as np
payment = np.round(-np.pmt(rate/12, term, loan), 2)
print(payment)

222.07

In [4]:
# Now let's build an amortization schedule using pandas
import pandas as pd
balance = loan
# Instantiate the dataframe
df = pd.DataFrame({
    'month':     [0],
    'payment':   [np.NaN],
    'interest':  [np.NaN],
    'principal': [np.NaN],
    'balance':   [balance]
})
print(df)

month  payment  interest  principal  balance
0      0      NaN       NaN        NaN   3000.0

In [5]:
# Calculate interest and principal for first payment
interest = round(rate/12*balance, 2)
principal = payment - interest
balance = balance - principal

print(interest)
print(principal)
print(balance)

14.38
207.69
2792.31

In [15]:
# Loop A: Execute all calculations for all payments in the series
import pandas as pd
import numpy as np

# Loan Details
loan = 3000.00
rate = 0.0575
term = 14

# Calculate the monthly payment
payment = np.round(-np.pmt(rate/12, term, loan), 2)
balance = loan
df = pd.DataFrame({
    'month': [0],
    'payment': [np.NaN],
    'interest': [np.NaN],
    'principal': [np.NaN],
    'balance': [balance]
})

# Create Amortization Schedule
for i in range(1, term + 1):
    interest = round(rate/12 * balance, 2)
    principal = payment - interest
    balance = balance - principal
    df = df.append(
        pd.DataFrame({
            'month': [i],
            'payment': [payment],
            'interest': [interest],
            'principal': [principal],
            'balance': [balance]
        })
    )
df = df.reset_index(drop=True)
df[['month', 'payment', 'interest', 'principal', 'balance']]

    month  payment  interest  principal  balance
0       0      NaN       NaN        NaN  3000.00
1       1   222.07     14.38     207.69  2792.31
2       2   222.07     13.38     208.69  2583.62
3       3   222.07     12.38     209.69  2373.93
4       4   222.07     11.38     210.69  2163.24
5       5   222.07     10.37     211.70  1951.54
6       6   222.07      9.35     212.72  1738.82
7       7   222.07      8.33     213.74  1525.08
8       8   222.07      7.31     214.76  1310.32
9       9   222.07      6.28     215.79  1094.53
10     10   222.07      5.24     216.83   877.70
11     11   222.07      4.21     217.86   659.84
12     12   222.07      3.16     218.91   440.93
13     13   222.07      2.11     219.96   220.97
14     14   222.07      1.06     221.01    -0.04

In [24]:
# Loop B, a more efficient loop A
# Prealocate space for the table
import pandas as pd
import numpy as np

# Loan Details
loan = 3000.00
rate = 0.0575
term = 14

# Calculate the monthly payment
payment = np.round(-np.pmt(rate/12, term, loan), 2)

# Instantiate the data frame with pre-allocated space
balance = loan

index = range(0, term+1)
columns = ['month','payment','interest','principal','balance']
df = pd.DataFrame(index=index, columns=columns)

df.iloc[0]['month'] = 0
df.iloc[0]['balance'] = balance

# Create Amortization Schedule
for i in range(1, 15):
    interest = round(rate/12 * balance, 2)
    principal = payment - interest
    balance = balance - principal

    df.iloc[i]['month'] = i
    df.iloc[i]['payment'] = payment
    df.iloc[i]['interest'] = interest
    df.iloc[i]['principal'] = principal
    df.iloc[i]['balance']  = balance

df

   month payment interest principal  balance
0      0     NaN      NaN       NaN     3000
1      1  222.07    14.38    207.69  2792.31
2      2  222.07    13.38    208.69  2583.62
3      3  222.07    12.38    209.69  2373.93
4      4  222.07    11.38    210.69  2163.24
5      5  222.07    10.37     211.7  1951.54
6      6  222.07     9.35    212.72  1738.82
7      7  222.07     8.33    213.74  1525.08
8      8  222.07     7.31    214.76  1310.32
9      9  222.07     6.28    215.79  1094.53
10    10  222.07     5.24    216.83    877.7
11    11  222.07     4.21    217.86   659.84
12    12  222.07     3.16    218.91   440.93
13    13  222.07     2.11    219.96   220.97
14    14  222.07     1.06    221.01    -0.04

In [26]:
# Amortization Schedule Function
def am(loan, rate, term):
    # Calculate the monthly payment
    payment = np.round(-np.pmt(rate/12, term, loan), 2)

    # Instantiate the data frame with pre-allocated space
    balance = loan
    index = range(0, term+1)
    columns = ['month','payment','interest','principal','balance']
    df = pd.DataFrame(index=index, columns=columns)

    df.iloc[0]['month'] = 0
    df.iloc[0]['balance'] = balance

    # Create Amortization Schedule
    for i in range(1, term+1):
        interest = round(rate/12 * balance, 2)
        principal = payment - interest
        balance = balance - principal

        df.iloc[i]['month'] = i
        df.iloc[i]['payment'] = payment
        df.iloc[i]['interest'] = interest
        df.iloc[i]['principal'] = principal
        df.iloc[i]['balance']  = balance

    return df


loan = 3000
bank_a = am(loan, 0.0575, 14)
bank_b = am(loan, 0.0399, 20)
bank_c = am(loan, 0.0889, 8)

In [27]:
bank_a

   month payment interest principal  balance
0      0     NaN      NaN       NaN     3000
1      1  222.07    14.38    207.69  2792.31
2      2  222.07    13.38    208.69  2583.62
3      3  222.07    12.38    209.69  2373.93
4      4  222.07    11.38    210.69  2163.24
5      5  222.07    10.37     211.7  1951.54
6      6  222.07     9.35    212.72  1738.82
7      7  222.07     8.33    213.74  1525.08
8      8  222.07     7.31    214.76  1310.32
9      9  222.07     6.28    215.79  1094.53
10    10  222.07     5.24    216.83    877.7
11    11  222.07     4.21    217.86   659.84
12    12  222.07     3.16    218.91   440.93
13    13  222.07     2.11    219.96   220.97
14    14  222.07     1.06    221.01    -0.04

In [28]:
bank_b

   month payment interest principal  balance
0      0     NaN      NaN       NaN     3000
1      1  155.29     9.97    145.32  2854.68
2      2  155.29     9.49     145.8  2708.88
3      3  155.29     9.01    146.28   2562.6
4      4  155.29     8.52    146.77  2415.83
5      5  155.29     8.03    147.26  2268.57
6      6  155.29     7.54    147.75  2120.82
7      7  155.29     7.05    148.24  1972.58
8      8  155.29     6.56    148.73  1823.85
9      9  155.29     6.06    149.23  1674.62
10    10  155.29     5.57    149.72   1524.9
11    11  155.29     5.07    150.22  1374.68
12    12  155.29     4.57    150.72  1223.96
13    13  155.29     4.07    151.22  1072.74
14    14  155.29     3.57    151.72   921.02
15    15  155.29     3.06    152.23   768.79
16    16  155.29     2.56    152.73   616.06
17    17  155.29     2.05    153.24   462.82
18    18  155.29     1.54    153.75   309.07
19    19  155.29     1.03    154.26   154.81
20    20  155.29     0.51    154.78     0.03

In [29]:
bank_c

  month payment interest principal      balance
0     0     NaN      NaN       NaN         3000
1     1  387.61    22.23    365.38      2634.62
2     2  387.61    19.52    368.09      2266.53
3     3  387.61    16.79    370.82      1895.71
4     4  387.61    14.04    373.57      1522.14
5     5  387.61    11.28    376.33      1145.81
6     6  387.61     8.49    379.12       766.69
7     7  387.61     5.68    381.93       384.76
8     8  387.61     2.85    384.76 -5.68434e-14

In [31]:
# bank_a = pineapple
# bank_b = orange
# bank_c = banana

# Find out which bank has the lowest interest cost
print(bank_a['interest'].sum())
print(bank_b['interest'].sum())
print(bank_c['interest'].sum())

108.93999999999998
105.82999999999997
100.88